.profile__content {
    margin: 50px auto;
    width: 45vw;
}

.profile-form__heading {
    text-align: center;
}
.form__group {
    width: 100%;
    margin:40px 0;
}

.form__label--item {
    font-weight: bold;
}

.form__input--text input {
    width: 100%;
    height: 40px;
}

.form__button {
    text-align: center;
    margin-top: 50px;
}

.form__button-submit {
    width: 100%;
    padding: 8px 0;
    background: #FF5555;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form__error{
    color: red;
}
