.area {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    flex-wrap: wrap;
    display: flex;  
}
.content_class{
    width: 100%;
    border-top: 1px solid #ccc;
}
.tab_class {
    width: 20%;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
    cursor: pointer;
}
input[name="tab_name"] {
    display: none;
}
input:checked+.tab_class {
    color: red;
}
.content_class {
    display: none;
    width: 100%;
}
input:checked+.tab_class+.content_class {
    display: block;
}
.content_class__cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.product__cards-link {
    width: 20%;
    margin: 40px 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block;
}
@media screen and (max-width: 769px) {
    .product__cards-link {
        width: 18%;
        margin: 40px 20px;
        text-decoration: none;
        color: black;
        font-size: 18px;
        display: inline-block;
    }
}
.product__card {
    width: 100%;
    height: 300px;
}
@media screen and (max-width: 769px) {
    .product__card {
            width: 100%;
            height: 200px;
        }
}
.product__card-img {
    width: 100%;   
    height: 100%;    
    background-color: white;
    padding-bottom: 0px;
}
.product__card-img img {
    width: 100%;      
    height: 100%;     
    object-fit: contain;
        /* 画像を縮小して全体を表示 */
    display: block;
}
.product__card-name{
  
}

.product__card-order{
    display: inline;
    font-weight: bold;
    background: red;
    color: white; 
    padding: 0 10px;
    border-radius: 0 7px;
}
.mypage_header{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.header__profile{
    padding-left: 200px;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 769px) {
    .header__profile {
            padding-left: 50px;
            display: flex;
            align-items: center;
        }
}
.header__profile-img{
    padding-right: 40px;
}
.header__profile-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    background: #ccc;
}
.header-link{
    padding-right: 200px;
}
@media screen and (max-width: 769px) {
    .header-link {
            padding-right: 20px;
        }
}
.header-link a{
    padding: 3px 10px;
    text-decoration: none;
    font-size: 18px;
    color:#FF5555 ;
    border:1px solid #FF5555;
    border-radius: 5px;
}