body{
    width: 100%;
    margin: auto;

}
.item{
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 50px;
}
@media screen and (max-width: 769px) {
    .item {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 50px;
        }
}
.item__image{
    width:50% ;
}
.item__image img{
    width: 60%;
    height:40vh;
    margin: 20px;   
}
.item__content{
    width: 40%;
}
.item__content-name span{
font-size: 25px;
}
.item__content-like{
    display: flex; 
    align-items: center;
}
.like-item{
    text-align: center;
    margin-left: 30px;
}
.like button{
    font-size: 25px;
    border: none;
    background: white;
}
.like{
    font-size: 25px;
   
}
.item__content-buy{
    width: 100%;
    margin-top: 5px;
}
.item__content-buy a{
   width: 100%;
   display: block;
   text-align: center;
    text-decoration: none;
    padding: 5px 0;
    background:#FF5555 ;
    color: white;
border-radius: 3px;
}
.item__content-buy button{
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    background: grey;
    color: white;
    border-radius: 3px;
    cursor: not-allowed;
}

.condition-category,
.condition-inner,
.condition-item{
    display: flex;
}
@media screen and (max-width: 768px) {
    .condition-category {
            display: block;
        }
}
.condition-item{
   margin-left: 40px;
}
.condition-item_category{
    padding: 3px 10px;
    border-radius: 20px;
    background: #ccc;
    margin-right: 20px;
    font-size: 13px;
}
.condition-item_information{
    padding-left: 10px;
}
.item__content-comment{
    width: 100%;
}
.comment-log_title{
    padding-top: 20px;
color: rgb(120, 120, 120);
}
.comment-log{
   display: flex;   
}
.item__content-comment textarea{
    width: 100%;
    display: block;
}
.item__content-comment button{
    width: 100%;
    margin-top: 20px;       
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    background: #FF5555;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}


.like-button {            
    border: 1px solid #ccc;           
    cursor: pointer;
}      
.like-button.liked {
    background-color: red;
    color: white;
    border-color: red;
    border-radius: 5px
}
.like-button:hover {
     opacity: 0.8;
}
.error{
    color: red;
}