.profile__content {
    margin: 50px auto;
    width: 45vw;
}

.profile-form__heading {
    text-align: center;
}

.form__group {
    width: 100%;
    margin: 15px 0;
}

.form__label--item {
    font-weight: bold;
}

.form__input--text input {
    width: 100%;
    height: 40px;
}

.form__button {
    text-align: center;
    margin-top: 50px;
}

.form__button-submit {
    width: 100%;
    padding: 8px 0;
    background: #FF5555;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
 .profile-container {
        display: -webkit-flex;
            display: flex;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            -webkit-flex-direction: row-reverse;
            flex-direction: row-reverse;
     align-items: center;    
 }

 .img-container{
     width: 150px;
     height: 150px;
     border-radius: 50%;
     object-fit: cover;
     border: 2px solid #ccc;
     margin-bottom: 10px;
     background: #ccc;
 }

 .file-input-container {
     margin-top: 10px;
 }

 .file-input-container input[type="file"] {
    display: none;
 }

 .file-input-container label {
     display: inline-block;
     margin-left: 30px;
     padding: 5px 20px;
     border: 1px solid #f44336;
     color: #f44336;
     
     border-radius: 4px;
     cursor: pointer;
 }

 
 