.body{
    width: 100%;
}
.sell{
    width: 50%;
    margin: 20px auto;
}
.sell_content-image{
    border: 1px dotted #000;
    border-radius: 3px;
    text-align: center;
    padding: 25px 0;
    
}
.sell_image-session {
    position: relative;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    /* 任意の枠サイズ */
    height:70vh ;
    border: 1px dotted #000;
    border-radius: 3px;
    overflow: hidden;
    /* 画像が枠からはみ出さないようにする */
}

.img-container {
    position: absolute;
    top: 45px;
    left: 50%;
    width: 80%;
    height: 100%;
    object-fit: cover;
    transform: translateX(-50%);
}
.image-input[type="file"] {
    display: none;  
}
.image-label{
    padding: 5px 20px;
    display: inline-block;
    border: 1px solid #f44336;
    color: #f44336;
    border-radius: 4px;
    cursor: pointer;
}
.image-label_session {
    padding: 5px 20px;
    display: inline-block;
    border: 1px solid #f44336;
    color: #f44336;
    border-radius: 4px;
    cursor: pointer;
}

 /* チェックボックスを非表示（ただし機能は残す） */
 input[type="checkbox"] {
     display: none;
 }

 /* ラベルの基本スタイル */
 .custom-checkbox {
     display: inline-block;
     padding: 5px 15px;
     margin: 5px 10px;
     color: #FF5555;
     border: 2px solid #FF5555;
     border-radius: 20px;
     cursor: pointer;
     font-size: 14px;
     transition: background-color 0.3s, border-color 0.3s;
 }
 /* チェックされたときのスタイル */
 input[type="checkbox"]:checked+.custom-checkbox {
     background-color: #FF5555;
     /* 緑色 */
     color: white;
     border-color: #FF5555;
 }
 .sell_category-title{
    color: #5F5F5F;
    border-bottom:1px solid #5F5F5F ;
 }
 .select-option {
     background: #636769;
     color: white;
 }
 .sell_content select {
    width: 100%;
    height: 30px;
    color: #5F5F5F;
    border-radius: 3px;
 }
 .sell_content h3{
    margin-bottom: 3px;
 }
 .sell_name {
    width: 100%;
        height: 30px;
 }
 .sell_description {
     width: 100%;
    height: 90px;
 }
 .yen-wrapper {
     position: relative;
     display: inline-block;
    width: 100%;
        height: 30px;
 }

 .yen-wrapper::before {
     content: "￥";
     /* 円マークを追加 */
     position: absolute;
     left: 8px;
     /* 位置調整 */
     top: 50%;
     transform: translateY(-50%);
     font-size: 16px;
     color: black;
 }

 .yen-input {
     padding-left: 20px;
     /* 円マークの位置分、内側に余白を作る */
    width: 100%;
        height: 30px;
 }
 .sell button {
     width: 100%;
    height: 40px;
    font-size: 18px;
     margin-top: 50px;
     text-align: center;
     text-decoration: none;
     padding: 5px 0;
     background: #FF5555;
     color: white;
     border-radius: 3px;
     border: none;
     cursor: pointer;
 }